@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #FFEDE1;
}

.sidebar {
    width: 220px;
    border-radius: 5px;
    background-color: white;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    overflow-x: hidden;
    z-index: 1000; /* Ensure the sidebar is above the header */
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.links {
    width: 80%;
    height: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
}

.links a {
    color:  #FAA96C;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.links:hover {
    background-color: #FAA96C;
}
.links a:hover{
    color: aliceblue;
}
.logout{
    width: 80%;
    height: 20px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 15px;
}
.logout a {
    color: rgba(255, 255, 255, 0.555);
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}
.logout:hover {
    background-color: #f01911;
}
.logout:hover a{
    color: aliceblue;
}
.header {
    background-color: #FAA96C;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 220px);
    position: fixed;
    top: 0;
    left: 220px;
    z-index: 999; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.425);
}

.header-content {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.header h1 {
    margin: 0;
    color: white;
}
.dashboard-container {
    padding: 50px 50px 0px 50px;
    margin-left: 240px;
    margin-top: 60px; /* Adjusted to account for the header height */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img{
    width: 90%;
    height: 260px;
    border-radius: 20px;
    background-color: #FCC399;
    display: flex;
    justify-content: center;
}
.img img{
    width: 90%;
    height: 100%;
}